<div class="login-container">
    <h1 class="title"> ایجاد حساب کاربری</h1>
    <div class="login-card">
      <h2 class="login-title">ثبت اطلاعات</h2>
      <form class="login-form" (ngSubmit)="registerUser()">
        <input type="text" placeholder="نام کاربری" class="input-field" [(ngModel)]="userData.userName" [ngModelOptions]="{standalone: true}">
        <input type="password" placeholder="رمز عبور" class="input-field" [(ngModel)]="userData.password" [ngModelOptions]="{standalone: true}">
        <button type="submit" class="btn-login">ثبت نام</button>
      </form>  
    </div>
  </div>