
$primary-color: #ff0059;
$background-color: #f8f8f8;
$text-color: #333;
$border-radius: 12px;


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $background-color;
}

.login-container {
  text-align: center;

  .title {
    font-size: 1.5rem;
    color: $text-color;
    margin-bottom: 2rem;
    margin-left: 3rem;
  }

  .login-card {
    background: #fff;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;

    .login-title {
      font-size: 1.2rem;
      color: $text-color;
      margin-bottom: 1.5rem;
    }

    .login-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input-field {
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: $border-radius;
        font-size: 0.9rem;
      }

      .btn-login {
        padding: 0.8rem;
        background-color: $primary-color;
        color: #fff;
        border: none;
        border-radius: $border-radius;
        font-size: 1rem;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }
}
